<h1>Seja bem-vindo!</h1>

<h2><%= t 'hello.friend' %></h2>
<h2><%= t 'hi' %></h2>
<h2><%= l Date.today %></h2>

<%= mostrar_meu_nome %>
<%= somar_dois(5) %>

<ul>
  <li><%= link_to "Tipos", kinds_path %></li>
  <li><%= link_to "Contatos", contacts_path %></li>
  <li><%= link_to "Endereços", addresses_path %></li>
  <li><%= link_to "Telefones", phones_path %></li>
</ul>
