<div class="basic-grey">
  <h1>Seja bem-vindo!</h1>

  <ul>
    <li><%= link_to "Tipos", kinds_path %></li>
    <li><%= link_to "Contatos", contacts_path %></li>
    <li><%= link_to "Endereços", addresses_path %></li>
    <li><%= link_to "Telefones", phones_path %></li>
    <li><%= link_to "Teste de AJAX", phones_path, remote: true %></li>
  </ul>
</div>
